<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zhang.genealogy.dao.FamilyDAO">

    <resultMap id="BaseResultMap" type="com.zhang.genealogy.model.Family">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="zi" property="zi"/>
        <result column="bei" property="bei"/>
        <result column="fatherId" property="fatherId"/>
        <result column="generation" property="generation"/>
        <result column="ranking" property="ranking"/>
        <result column="is_living" property="isLiving"/>
        <result column="birth_time" property="birthTime"/>
        <result column="death_time" property="deathTime"/>
        <result column="degree" property="degree"/>
        <result column="university" property="university"/>
        <result column="work" property="work"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="remark" property="remark"/>
        <result column="husbandId" property="husbandId"/>
        <result column="image_url" property="imageUrl"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, nickname, gender, zi, bei, fatherId, generation, ranking, is_living, birth_time,
        death_time, degree, university, work, phone, address, remark, husbandId, image_url,
        delete_status, create_time, update_time
    </sql>

    <select id="queryList" resultMap="BaseResultMap" parameterType="com.zhang.genealogy.model.Family">
        select
        <include refid="Base_Column_List"/>
        from family
        order by id desc
    </select>
    
    <select id="queryById" resultType="com.zhang.genealogy.model.Files">
        select
        <include refid="Base_Column_List"/>
        from family
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.zhang.genealogy.model.Family" useGeneratedKeys="true" keyProperty="id">
        insert into family
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="zi != null">
                zi,
            </if>
            <if test="bei != null">
                bei,
            </if>
            <if test="fatherid != null">
                fatherId,
            </if>
            <if test="generation != null">
                generation,
            </if>
            <if test="ranking != null">
                ranking,
            </if>
            <if test="isLiving != null">
                is_living,
            </if>
            <if test="birthTime != null">
                birth_time,
            </if>
            <if test="deathTime != null">
                death_time,
            </if>
            <if test="degree != null">
                degree,
            </if>
            <if test="university != null">
                university,
            </if>
            <if test="work != null">
                work,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="husbandid != null">
                husbandId,
            </if>
            <if test="imageUrl != null">
                image_url,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="zi != null">
                #{zi},
            </if>
            <if test="bei != null">
                #{bei},
            </if>
            <if test="fatherid != null">
                #{fatherid},
            </if>
            <if test="generation != null">
                #{generation},
            </if>
            <if test="ranking != null">
                #{ranking},
            </if>
            <if test="isLiving != null">
                #{isLiving},
            </if>
            <if test="birthTime != null">
                #{birthTime},
            </if>
            <if test="deathTime != null">
                #{deathTime},
            </if>
            <if test="degree != null">
                #{degree},
            </if>
            <if test="university != null">
                #{university},
            </if>
            <if test="work != null">
                #{work},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="husbandid != null">
                #{husbandid},
            </if>
            <if test="imageUrl != null">
                #{imageUrl},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

</mapper>